# Node
node_modules/

# Laravel / PHP
vendor/

# Zip files
*.zip

# Public folder
public/video/
public/storage/videos/

# Env files
.env
.env.local

# Build folders
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Video files
*.mp4
*.mkv
*.avi
*.mov
*.wmv
*.flv
*.webm
*.mpeg
*.mpg
*.3gp
*.m4v

.tmp
dist
.DS_Store

public/build/
storage/*
.env.*
!.env.example

.DS_Store
