<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Ensure correct MIME types for audio
    <IfModule mod_mime.c>
        AddType audio/wav .wav
        AddType audio/x-wav .wav
        AddType audio/mpeg .mp3
    </IfModule>

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
    #RewriteRule ^ editor/server.js

    # Redirect /api/* to /editor/api/*
#    RewriteCond %{REQUEST_URI} ^/api/
#    RewriteRule ^api/(.*)$ /editor/api/$1 [L,R=301]

</IfModule>
